<%= page_title "Wael Emara | CV" %>


<%= link_to 'Download CV' , "/CV.pdf" , :class=> "download-cv button radius" , :target => "_blank" %>
<div class="employment">
	<h4>Work History</h4>
	<div class="item">
		<h6><a target="_blank" href="http://readify.net">Readify</a></h6>
		Working as Senior Software Developer started from October 2012 till now , worked in a couple of projects including two of the largest banks in Australia
	</div>
	<div class="item">
		<h6><a target="_blank" href="http://ratacorp.com">Raya Software</a></h6>
		Started as a Junior developer in December 2008 and left as Senior Developer in September 2012 , worked in many projects including the first social network website in Egypt <a href="http://osharek.com/">Osharek</a>
	</div>
</div>

<div class="technical-experience">
	<h4>Technical Experience</h4>
	<div class="item">
		<h6>Web</h6>
		<ul>
			<li>Asp.Net Web Forms & Mvc</li>
		    <li>Ruby on rails</li>
			<li>Php using Zend</li>
			<li>JavaScript (jQuery , Angular.js , knockout , Ajax)</li>
			<li>CSS , LESS , SASS</li>
		</ul>
	</div>
	<div class="item">
		<h6>Programming</h6>
		<ul>
			<li>C#</li>
			<li>Java (Android only)</li>
		</ul>
	</div>
	<div class="item">
		<h6>Database</h6>
		<ul>
			<li>
				MSSQL
				<ul>
					<li>SQL</li>
					<li>Sql Server Reporting Services</li>
					<li>Sql Server Integration Services</li>
				</ul>
			</li>
			<li>Oracle and PLSQL</li>
			<li>Mysql</li>
		</ul>
	</div>
	<div class="item">
		<h6>Architecture and software design</h6>
		<ul>
			<li>TDD</li>
			<li>Agile</li>
			<li>DDD (beginner)</li>
		</ul>
	</div>
</div>