
$include-html-classes: false;
@import "foundation_and_overrides";
//EAEAEA
body{
	background-color:#E8F5F0;
}

.title-area{
	.name{
		h1{
			margin-left : emCalc(100px);
		}
	}
}

.top-bar{
	margin : emCalc(20px);
	margin-top : emCalc(10px);
	border-radius : emCalc(20px);
	.top-bar-section{
		.right{
			margin-right : emCalc(120px);
			li {
				border-left: 1px solid #57B147;
				&:first-child{
					border :none;
				}
			}
		}
	}
}
.main{
	margin-bottom : emCalc(50px);
}

footer{
	background-color : $topbar-bg-color;
	position: fixed;
	bottom: 0px;
	height: emCalc(50px);
	left: 0px;
	width: 100%;

	.row{
		.column{
			text-align :center;
		}
	}
}
