<!-- Footer -->
<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright 2013, Wael Emara</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a target="_blank" href="https://github.com/waelemara" class="github-icon"></a></li>
          <li><a target="_blank" href="http://www.linkedin.com/pub/wael-emara/12/756/8b1" class="linkedin-icon"></a></li>
          <li><a target="_blank" href="https://twitter.com/Wael_Emara" class="twitter-icon"></a></li>
          <li><a target="_blank" href="https://www.facebook.com/wael.emara" class="facebook-icon"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>